@use "base";

header{
    color: base.$font-color-dark;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

    .header-container{
        max-width: 1100px;
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        ul{
            list-style-type: none;
            display: flex;
            gap: 2px;
            li{
                cursor: pointer;
                a{
                    display: flex;
                    gap: 8px;
                    justify-content: center;
                    align-items: center;
                    font-size: .8rem;
                    font-weight: 700;
                    padding: 5px 12px;
                    &:hover, &:focus{
                        color: green;
                        text-decoration: underline;
                    }
                }
            
            }
        }
        .header-image{
            height: auto;
            width: 80px;
        }
    }
}

.nav-icon-container{
    border-radius: 5px;
    
}
.nav-icon-container:hover, .nav-icon-container:focus{
    background-color: base.$button-bg-color;
}