@use "base";

*{
    padding: 0;
    margin: 0;
}
body{
    color: base.$font-color;
    font-family: base.$font-primary;
    background-color: base.$background-color;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.app-root{
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
    grid-template-rows: 70px auto 90px;
    grid-template-columns: 1fr;
    height: 100vh;
}

header{
    grid-area: header;
    background-color: white;
}
footer{
    grid-area: footer;
}
.logo{
    width: 80px;
    height: auto;
}

.hidden{
    display: none;
}

.d-flex{
    display: flex;
}

.content{
    position: relative;
    max-width: 1100px;
    width: 100%;
    margin: 3rem auto;
}

.uppercase{
    text-transform: capitalize;
}

.btn{
    cursor: pointer;
}

.btn-primary{
    $length: 150px;
    $height: calc($length/3)px;
    $bgColor: base.$button-bg-color;

    cursor: pointer;
    font-family: base.$font-secondary;
    font-size: base.$font-size-1;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    width: $length;
    background-color: $bgColor;
    color: base.$button-primary-color;
   
    color: white;
    border: none;
    padding: base.$spacing-1;
    border-radius: 5px;
    transition: all ease-in-out .8s;
    &:hover{
      background-color: white;
      color: $bgColor;
      font-weight: 600;
      outline:3px solid $bgColor;
      .icon{
        color: base.$color-dark-green;
      }
    }

    .icon{
        color: base.$bg-white-600;
    
    }
}
.btn-secondary{
    $length: 150px;
    $height: calc($length/3)px;
    font-size: base.$font-size-2;
    max-width: $length;
    width: 100%;
    height: $height;
}

.capitalized{
    text-transform: capitalize;
}

input[type="text"],input[type="number"], input[type="button"], textarea, select, option{
    appearance: none; /* Removes default browser styles */
    -webkit-appearance: none; /* Removes default styles for WebKit browsers */
    -moz-appearance: none; /* Removes default styles for Firefox */
    box-sizing: border-box;
}

option{
    font-family: base.$font-secondary;
    background-color: base.$background-color;
    color: base.$primary-color-dark;
}

.buttons-navigation-container{
    display: flex;
    flex-direction: column;
    gap: base.$spacing-sm;
    justify-content: center;
    align-items: center;
}

.relative{
    position: relative;
}

.printPreview{
    padding: base.$spacing-lg;
}

.print-component{
    @media(max-width: 55rem)
    {
        width: 55rem;
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: base.$spacing-lg;
}

// Fonts
.text-1{ font-size: base.$font-size-1 }
.text-2{ font-size: base.$font-size-2 }
.text-3{ font-size: base.$font-size-3 }
.text-4{ font-size: base.$font-size-4 }

// Spacing
.p-1{ padding: base.$spacing}
.p-2{ padding: base.$spacing + 4px}
.p-3{ padding: base.$spacing + 8px}
.p-4{ padding: base.$spacing + 12px}
.p-5{ padding: base.$spacing + 16px}
.p-6{ padding: base.$spacing + 20px}
.p-7{ padding: base.$spacing + 24px}

.p-y-1{ padding: base.$spacing 0}
.p-y-2{ padding: base.$spacing + 4px 0}
.p-y-3{ padding: base.$spacing + 8px 0}
.p-y-4{ padding: base.$spacing + 12px 0}
.p-y-5{ padding: base.$spacing + 16px 0} 
.p-y-6{ padding: base.$spacing + 20px 0} 
.p-y-7{ padding: base.$spacing + 24px 0}

.p-x-1{ padding: base.$spacing}
.p-x-2{ padding:0 base.$spacing + 4px }
.p-x-3{ padding:0 base.$spacing + 8px }
.p-x-4{ padding: 0 base.$spacing + 12px }
.p-x-5{ padding: 0 base.$spacing + 16px }
.p-x-6{ padding: 0 base.$spacing + 20px }
.p-x-7{ padding: 0 base.$spacing + 24px }

.p-b-1{ padding-bottom: base.$spacing}
.p-b-2{ padding-bottom: base.$spacing + 4px }
.p-b-3{ padding-bottom: base.$spacing + 8px }
.p-b-4{ padding-bottom: base.$spacing + 12px }
.p-b-5{ padding-bottom: base.$spacing + 16px }
.p-b-6{ padding-bottom: base.$spacing + 20px }
.p-b-7{ padding-bottom: base.$spacing + 24px }

.p-t-1{ padding-top: base.$spacing}
.p-t-2{ padding-top: base.$spacing + 4px }
.p-t-3{ padding-top: base.$spacing + 8px }
.p-t-4{ padding-top: base.$spacing + 12px }
.p-t-5{ padding-top: base.$spacing + 16px }
.p-t-6{ padding-top: base.$spacing + 20px }
.p-t-7{ padding-top: base.$spacing + 24px }

.m-t-1 {margin-top: base.$spacing}
.m-t-2 {margin-top: base.$spacing + 4px}
.m-t-3 {margin-top: base.$spacing + 8px}
.m-t-4 {margin-top: base.$spacing + 12px}
.m-t-5 {margin-top: base.$spacing + 16px}
.m-t-6 {margin-top: base.$spacing + 20px}
.m-t-7 {margin-top: base.$spacing + 24px}

.width-max{
    width: 100%;
}

// flex
.flex{
    display: flex;
}
.flex-end{
    justify-content: end;
}
.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-space-around{
    justify-content: space-around;
}
.items-center{
    align-items: center;
}
.space-around{
    justify-content: space-around;
}

// gap
.gap-1 {gap: base.$spacing}
.gap-2 {gap: base.$spacing + 4px}
.gap-3 {gap: base.$spacing + 8px}
.gap-4 {gap: base.$spacing + 12px}
.gap-5 {gap: base.$spacing + 16px}
.gap-6 {gap: base.$spacing + 20px}


.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-center{
    text-align: center;
}

.level-text-box-container{
    display: grid;
    grid-template-columns: 1fr auto;
}

//Custom buttons
.toggle-button{
    
}
.btn-help, .btn-close{
    cursor: pointer;
    font-family: inherit;
    font-size: base.$font-size-1;
    font-weight: 600;
    color: white;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
}
.btn-help{
    background-color: green;
    &:hover{
        background-color: white;
        outline: 1px solid green;
        color: green;
    }
}

.btn-close{
    background-color: red;
    &:hover{
        background-color: white;
        outline: 1px solid red;
        color: red;
    }
}

.custom-file-input{
    $length: 150px;
    $bgColor: base.$button-bg-color;
    $height: calc(#{$length} / 3);

    cursor: pointer;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: $length;
    height: auto;

    // Error for some browsers 
    &::-webkit-file-upload-button,
    &::file-selector-button{
        font-family: base.$font-secondary;
        font-weight: 700;
        background-color: base.$color-dark-green;
        border: none;
        padding: base.$spacing-1;
        color: base.$font-color-light;
        font-size: base.$font-size-1;
        line-height: 1.5;
        border-radius: 5px;
        width: 100%;    
        }
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.btn-circle{
    position: absolute;
    right: 12px;
    bottom: 12px;

    button{
        cursor: pointer;
    
        border-radius: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: base.$color-dark-green;
        border: none;
        font-size: 2.8rem;
        font-weight: 600;
        color: base.$bg-white-600;
        &:hover{
            opacity: .7;
        }
    }
}

.form-navigation-container{
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    background-color: white;
    outline: 2px solid gray;
    display: grid;
    grid-template-rows: 30px 1fr;
    transition: all ease-in .33s;
    .nav-header{
        background-color: base.$color-dark-green;
        width: 100%;
    }
    .nav-body{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    button{
        float: right;
        cursor: pointer;
        color: white;
        padding: 0;
        background-color: transparent;
        border: none;
    }
}

.two-columns{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 12px;
    justify-content: start;
    align-items: center;
    span{
        text-align: left;
    }
}