@use "../styles/base";

$background-color-dark: rgba(0, 161, 173, 1);
$background-light: rgba(0, 161, 173, .2);

@media print {
    @page {
      size: A4;
      padding: 0;
      margin: 0;
    }
    .table{
        height: 89.6px;
        width: 733.25px;
    }
  }

h1, h2{
    text-transform: capitalize;
}
h1{
    font-size: base.$print-font-size-4;
}
h2{
    font-size: base.$print-font-size-3;
}
h3{
    font-size: base.$print-font-size-3;
}
p{
    font-size: base.$print-font-size-1;
}

.papersize-A4{
    width: 210mm;
    height: 297mm;
    margin: auto;
    background-color: white;
    padding: 6mm 8mm 6mm 8mm;
    box-sizing: border-box;
    font-family: base.$font-secondary;
}
.papersize{
        width: 210mm;
        height: 297mm;
        margin: auto;
        background-color: white;
        padding: 6mm 8mm 6mm 8mm;
        box-sizing: border-box;
        font-family: base.$font-secondary;
    }

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .img-container{
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img{
            width: 180px;
            height: 60px;
        }
    }
}
.print-name{
    strong{
        font-size: base.$print-font-size-2;
        color: black;
    }
}
.two-columns-container{
    display: flex;
    gap: 10px;

}
.justify-end{
    padding-right: 5px;
}

.even-columns{
    padding: .8rem 0;
    display: flex;
    justify-content: space-between;
}
.graph-levelInfo{
    margin-top: 14px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
}
.d-flex{
    display: flex;
    color: rgb(129, 129, 129);
    gap: 10px;
}



// --------------------------- Styling for levels -----------------------------------------
table, th, td, tr{
    border-collapse: collapse;
}
.table-levels{
    $border-color: black;
    $spacing: 1.5px;

    font-family: base.$font-secondary;
    font-size: base.$print-font-size-1;
    width: 100%;

    caption{
        caption-side: top;
        .caption-content{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            span{
                font-size: 10.5px;
            }
        }
  
      
    }
    tr{
        display: grid;
        width: 100%;
        grid-template-columns: 70px repeat(7, 1fr);
        text-align: center;
    }
    thead{
        tr{
            background-color: $background-color-dark;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;


            th{
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                border-right: 1px solid $border-color;
                padding: $spacing 0;
                &:first-child{
                    border-left: 1px solid $border-color;
                }
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid $border-color;
            &:nth-child(odd)
            {
                background-color: $background-light;
                color: black;
            }
            &:nth-child(even)
            {
                background-color: #fff;
            }
            td{
                border-right: 1px solid $border-color;
                padding: $spacing 0;
                &:first-child{
                    border-left: 1px solid $border-color;
                }
            }
        }
    }

}

.cards-container{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    p{
        font-size: base.$print-font-size-1;
    }
}
.level-card{
    border: 1px solid black;
    font-family: base.$font-secondary;
    height: 32.7mm;
    .level-card-title{
        background-color: $background-color-dark;
        color: white;
        p{
            margin-left: .3rem;
        }
    }
    .level-card-description{
        padding: .3rem;
    }
}
.graph-container{
    position: relative;
    aspect-ratio: 1/1;
}
.card{
    height: 240px;
    .card-title{
        background-color: $background-color-dark;
        padding: 4px;
        color: white;
        p{
            font-size: 13.5px;
        }
    }
    .card-description{
        padding: .3rem;
        line-height: 1.1;
        p{
            line-height: 1.3;
            font-size: 13.5px;
        }
    }
    border: 1px solid black;
}

.signature-section{
    margin-top: 10px;
    .signature-line{
        height: 16px;
        width: 100%;
        border-bottom: 2px solid gray;
    }
}

.wrapper-two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-capitalized{
    text-transform: capitalize;
}

.comment-signature-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container-print-view{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    overflow: hidden;
}
.btns-container{
    display:flex;
    justify-content: center;
    gap: 10px;
    button{
        color: white;
    }
    #print{
        background-color: blue;
    }
    #print:hover, #print:focus{
        background-color: rgb(100, 100, 252);
    }
    #save{
        background-color: green;
    }
    #save:hover, #print:focus{
        background-color: rgb(71, 125, 71);
    }
}



