:root {
  --font-primary: Merriweather, serif;
  --font-secondary: Poppins, sans-serif;
  --background-color-dark: rgba(0, 161, 173, 1);
  --background-light: rgba(0, 161, 173, 0.2);
  --font-color-light: #fff;
  --border-color: rgb(0, 0, 0);
  --margin-spacing: 35px;
  --print-spacing-1: 0.3rem;

  --print-font-size-1: 12px;
  --print-font-size-2: 16px;
  --print-font-size-3: 18px;
  --print-font-size-4: 20px;
  --print-font-size-5: 24px;
  --print-font-size-6: 26px;

  --print-chinese-font-size-1: 14px;
  --print-chinese-font-size-2: 16px;
  --print-chinese-font-size-3: 18px;
  --print-chinese-font-size-4: 20px;
  --print-chinese-font-size-5: 24px;
  --print-chinese-font-size-6: 26px;

  --print-japanese-font-size-1: 14px;
  --print-japanese-font-size-2: 16px;
  --print-japanese-font-size-3: 18px;
  --print-japanese-font-size-4: 20px;
  --print-japanese-font-size-5: 24px;
  --print-japanese-font-size-6: 26px;
}

#print-english {
  font-family: var(--font-primary);
}

#print-english h1,
#print-english h2 {
  text-transform: capitalize;
}

#print-english h1 {
  font-size: var(--print-font-size-4);
}

#print-english h2 {
  font-size: var(--print-font-size-2);
}

#print-english h3 {
  font-size: var(--print-font-size-3);
}

#print-english p {
  font-size: var(--print-font-size-1);
}

#print-english #personal-info p,
#print-english #student-info p {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
}

#print-chinese h1 {
  font-size: var(--print-font-size-4);
}

#print-chinese h2 {
  font-size: var(--print-chinese-font-size-3);
}

#print-chinese h3 {
  font-size: var(--print-chinese-font-size-2);
}

#print-chinese p {
  font-size: var(--print-chinese-font-size-1);
}

#print-chinese #info-card #info-card-title p {
  font-weight: 400;
  /* font-size: 14px; */
}

#print-korean h1 {
  font-size: var(--print-size-4);
}

#print-korean h2 {
  font-size: 1.1rem;
}

#print-korean h3 {
  font-size: 1.1rem;
}

#print-korean p {
  font-size: 0.8rem;
}

#print-japanese h1 {
  font-size: var(--print-japanese-size-4);
}

#print-japanese h2 {
  font-size: var(--print-japanese-size-3);
}

#print-japanese h3 {
  font-size: var(--print-japanese-font-size-2);
}

#print-japanese p {
  font-size: var(--print-japanese-font-size-1);
}

.print-sandbox {
  position: fixed;
  left: -10000px;
  top: 0;
  width: 800px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.graph-container {
  width: 359px;
  height: auto;
}

.print-component {
  box-sizing: border-box;
  width: 210mm;
  /* A4 portrait width */
  min-height: 297mm;
  /* at least 1 page tall */
  margin: 0 auto;
  padding: 8mm;
  /* included in width via border-box */
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

.print-component-landscape {
  width: 297mm;
  height: 210mm;
  padding: 8mm;
  margin: 0 auto;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  ,
  img,
  canvas,
  svg {
    -web-print-color-adjust: exact !important;
  }

  html,
  body {
    height: auto !important;
    overflow: visible !important;
  }

  header,
  footer {
    display: none;
  }

  .print-sandbox {
    position: static;
    left: auto;
    top: auto;
    width: auto;
    opacity: 1;
    pointer-events: auto;
    z-index: auto;
  }

  .print-component {
    display: static;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    border: none;
    box-shadow: none;
    page-break-inside: avoid;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}

.title-container {
  width: 100%;
  padding-bottom: 12px;
}

.title-container>.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.student-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 4px;
}

.personalInformation {
  font-size: 20px;
}

/* Graph Section */
.graph-container {
  position: relative;
  aspect-ratio: 1/1;
}

.print-list::before {
  content: "•";
  padding: 8px;
}