@use "../base.scss";

.dashboard{
    padding-bottom: 3rem;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-bottom: 3rem;
}
.buttons-navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#spr-table, #level-check-table{
    border: 1px solid black;
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    text-align: center;
    font-size: base.$font-size-1;
    
    margin-top: 8px;
    margin-bottom: 24px;
}

.dashboard-table{
    td,th{
        border: 1px solid black;
        padding: base.$spacing-1;
    }
    
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    tr:hover, tr:focus{
        background-color: #ddd;
    }
    th{
        border-bottom: 1px solid black;
        background-color: base.$color-dark-green;
        color: base.$font-color-light;
    
        padding: base.$spacing-2 0;
    }
    td{
        padding: base.$spacing-1;
    }
}
