@use "../base.scss";

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: base.$font-size-3;
    font-weight: 400;
    font-family: base.$font-primary;
    background-color: #00646c;
    color: white;
}

.footer-container{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: base.$print-font-size-1;
}