@use "../base.scss";

input, textarea, option, select{
  -webkit-autofill: none;
  box-sizing: border-box;
  font-family: inherit;
  display: block;
  width: 100%;
  outline: none;
  color: base.$primary-color-dark;
  background-color: base.$bg-white-600;
  border: none;
  border-radius: 5px;
  border: 2px solid base.$input-border-primary-color;
  box-shadow: 1px 1px .5px .5px rgba(0, 0, 0, 0.1);
  padding: base.$spacing-1;
}
textarea{
  resize: vertical;
  height: 300px;
  overflow: auto;
}
.form-root{
  font-family: base.$font-secondary;

  box-sizing: border-box;
  background-color: base.$bg-white-600;
  position: relative;
  padding: 3rem 1.5rem;
  margin: 3rem auto;
  max-width: 55rem;
  width: 100%;

  box-shadow: 0px 0px 1.5px 2px rgba(0, 0, 0, 0.1);
  height: auto;

  @media (max-width: 55em) {
    border: none;
    box-shadow: none;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}

.form-primary{
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 3rem;

  input, textarea, select{
    &:hover{
      border: 2px solid base.$color-active;
      box-shadow: 1px 1px .5px .5px rgba(255, 166, 0, 0.3)
    }
  }
}
.input-wrapper{
  padding-bottom: base.$spacing-1;
}
#buttons{
  display: flex;
  justify-content: space-around;
}
.btn-container{
  display: flex;
  justify-content: space-around;
}

.title{
  background-color: base.$color-dark-green;
  color: #ddd;
}