
@use "../base.scss";

.levelTab-container{
    text-transform: capitalize;
    text-shadow: 1px 1px 1.5px 1.5px rgba(0, 0, 0, .2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding-bottom: 12px;

    .selected{
        background-color: base.$button-bg-color;
        outline: none;
        color: #fff;
      }
  }

  .nameTab-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100px;
    background-color: #fff;
    border: none;
    outline: 1px solid base.$button-bg-color;
    color: base.$font-color-dark;
    &:hover{
      background-color: base.$button-bg-color;
      outline: none;
      color: #fff;
      border: none;
    }
  }

  .tabTitle{
    border: none; //resets
    font-size: base.$font-size-1;
    font-weight: 600;
    text-transform: capitalize;
    overflow-x: hidden;
    cursor: pointer;
    color: inherit;
    text-align: center;
    background-color: transparent;
    @media(max-width: 55em){
        font-size: .8rem;
    }
  }
  
