@use "../base.scss";

.popUpMessage {
  position: absolute;
  margin: auto;
  z-index: 1;
  background: base.$background-color;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  align-items: center;
  width: 100%;
  height: 100%;
}

.header-popup {
  margin-top: 0;
  background-color: base.$color-dark-green;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 8px 0;

  button {
    cursor: pointer;
    margin-right: 10px;
    width: 40px;
    padding: 8px 12px;
    font-weight: 600;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
  }
}
.body-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  h2 {
    padding-bottom: base.$spacing-4;
  }
}

.link-style {
  text-decoration: none;
  color: blue;
}
