.toggle-button {
  width: 56px;
  height: 28px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background-color: #ccc;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-button-on {
  background-color: red;
}

.toggle-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-circle.on {
  transform: translateX(28px);
}
